<style type="text/css">
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  display: table;
}
body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
</style>

<% @tweets.each do |e| %>
  <p>
    <%= e.message %>
    <% if current_user %>
      <%= link_to '削除', tweet_path(e), method: :delete %>
      <% if e.likes.count > 0 %>
        <%= link_to 'いいね削除', like_path(e), method: :delete %>
      <% else %>
        <%= link_to 'いいね', likes_path(tweet_id: e.id), method: :post %>
      <% end %>
    <% end %>
    </p>
<% end %>

<h1>foody</h1>
<p> 
<% if current_user %>
  <%= link_to '近くの飲食店を探す', new_tweet_path %>
<% end %>
</p>

<%#<p>
  <%= link_to 'ユーザ一覧', users_path %>
<%#</p>%>

<p>
    <%= link_to 'アカウント作成', new_user_path %>
</p>

<p>
<% if current_user %>
  <%= link_to 'ログアウト', top_logout_path %>
<% else %>
  <%= link_to 'ログイン', top_main_path %>
<% end %>
</p>

